asgiref==3.4.1
backcall==0.2.0
blessings==1.7
bpython==0.21
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.10.0
decorator==5.0.9
Django==3.2.6
greenlet==1.1.0
idna==3.2
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
kiwisolver==1.3.1
matplotlib==3.4.2
mysqlclient==2.0.3
numpy==1.21.1
parso==0.8.2
passlib==1.7.4
pickleshare==0.7.5
Pillow==8.3.1
prompt-toolkit==3.0.19
protobuf==3.15.5
PycSQL==1.0
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
pyxdg==0.27
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.6
wcwidth==0.2.5
