{% extends 'covidvms/base.html'%}

{% block content %}

{% load static %}

        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card card-body shadow">
                    <div class="row justify-content-between">
                        <h4><u>Bar Grap Showing the Population of Citizens Vaccinated With 1st Doze Per District</u></h4>
                        <div class="mb-3">
                            <p class="text-muted">
                                Showing <span id="p_min_val">30</span> <span id="p_of">of</span> <span id="p_max_val">
                                    {{ no_of_districts }}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="partial_chart"></div>
                    <canvas id="partial_chart" data-url="{% url 'covidvms:vaccination_chart' %}"
                    data-min="1" data-max="30"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card card-body shadow">
                    <div class="row justify-content-between">
                        <h4><u>Bar Grap Showing the Population of Citizens Fully Vaccinated Per District</u></h4>
                        <div class="mb-3">
                            <p class="text-muted">
                                Showing <span id="f_min_val">30</span> <span id="f_of">of</span>  <span id="f_max_val">
                                    {{ no_of_districts }}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="partial_chart"></div>
                    <canvas id="fully_vaccinated_chart" data-url="{% url 'covidvms:fully_vaccinated_chart'%}"
                    data-min="1" data-max="30"></canvas>
                </div>
            </div>



        </div>
        <hr/>
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="row mt-5">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <h4>Register A Citizen</h4>
                        
                        <div class="card card-body shadow mb-5">
                            <form action="{% url 'covidvms:register_citizen'%}" method="POST" id="addCitizenForm">
                                <div class="first-row">
                                    <div class="row" id="">
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="surname"> Surname &nbsp; <i id="fname-notif"></i>
                                                    <input type="text" name="surname" id="surname" class="borderless" autocomplete="off" onkeyup="ValidateFname(this.value)" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="givenname">Given Name &nbsp; <i id="lname-notif"></i>
                                                    <input type="text" name="givenname" id="givenname" onkeyup="ValidateLname(this.value)" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="nationality">Nationality 
                                                    <input type="text" name="nationality" list="nationale" id="nationality" class="borderless" autocomplete="off" required/>
                                                    <datalist id="nationale">
                                                        <option value="">-- select --</option>
                                                        <option value="UGANDAN">Uganda</option>
                                                        <option value="KENYAN">Kenya</option>
                                                    </datalist>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="gender">Gender 
                                                    <select name="gender" class="borderless" required>
                                                        <option value="">-- select gender --</option>
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="dob">Date of Birth
                                                    <input type="date" name="dob" id="dob" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="nin">NIN &nbsp; <i id="nin-notif"></i>
                                                    <input type="text" name="nin" id="nin" class="borderless" onkeyup="ValidateNIN(this.value)" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="card_no">Card No 
                                                    <input type="number" name="card_no" id="card-no" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="expiry_date">Date of Expiry 
                                                    <input type="date" name="expiry_date" id="expiry-date" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <button type="button" id="next" class="btn btn-primary">Next <i class="fas fa-angle-double-right"></i></button>
                                    </div>
                                </div>
                                <div class="second-row">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="village">Village 
                                                    <input type="text" name="village" id="village" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="parish">Parish 
                                                    <input type="text" name="parish" id="parish" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="sub_county">Sub County 
                                                    <input type="text" name="sub_county" id="sub_county" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="county">County 
                                                    <input type="text" name="county" id="county" class="borderless" autocomplete="off" required/>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label for="district">District 
                                                    <input type="text" name="district" list="dist_list" id="district" placeholder="-- select --" class="borderless" autocomplete="off" required/>
                                                    <datalist id="dist_list">
                                                        {% for name in districts %}
                                                            <option value="{{name.0}}">{{name.0}}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <label for="tel"> Phone number &nbsp; <i id="phone-notif"></i>
                                                <span class="d-flex w-100">+256  
                                                    <input type="number" onkeyup="ValidatePhoneNumber(this.value)" name="tel" id="phone" class="borderless" autocomplete="off" required/>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <label for="email"> Email Address (optional) &nbsp; <i id="email-notif"></i>
                                                <input type="email" name="email" id="email" class="borderless" onkeyup="ValidateEmail(this.value)" autocomplete="off"/>
                                            </label>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row justify-content-between">
                                        <button type="button" class="btn btn-primary" id="previous"><i class="fas fa-angle-double-left"></i> Previous</button>
                                        <input type="hidden" name="add_citizen" value="1"/>
                                        {% csrf_token %}
                                        <div class="response"></div>
                                        <button type="submit" class="btn btn-success" id="add-citizen-btn">Add Citizen <i class="fas fa-arrow-circle-up"></i> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(()=> {
                        $("#next").on('click', ()=> {$(".first-row").toggle(500);$(".second-row").toggle(500);});$("#previous").on('click', ()=> {$(".first-row").toggle(500);$(".second-row").toggle(500);});
                        $("#addCitizenForm").on('submit', function(event){
                            event.preventDefault();
                            let currentObject = $(this);
                            $.ajax({
                                url: currentObject.attr('action'),
                                type: 'POST',
                                data: currentObject.serializeArray(),
                                beforeSend: () => {
                                    $("#add-citizen-btn").html("<span class='spinner-border spinner-border-sm'></span> Processing...");
                                },
                                success: (response) => {
                                    let interval = 7000;
                                    $(".response").html(response);
                                    $(".response").fadeOut(7000);
                                    setInterval(() => {
                                        //window.location.reload();
                                    }, interval);
                                },
                                complete: () => {
                                    $("#add-citizen-btn").html("Add Citizen <i class='fas fa-arrow-circle-up'> </i>");
                                    //currentObject.trigger('reset');
                                }
                            })
                        })
                });
                const registerBtn = document.getElementById('add-citizen-btn');
                
                function ValidateEmail(mail) {
                    let emailEl = document.getElementById('email');
                    let notification = document.getElementById('email-notif');
                    if (/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(mail.toLowerCase())) {
                        emailEl.style.borderBottomColor = "green";
                        notification.classList.remove("fas", "fa-times-circle", "text-danger");
                        notification.classList.add("fas", "fa-check-circle", "text-success");
                        registerBtn.removeAttribute('disabled');
                    } else {
                        emailEl.style.borderBottomColor = "red";
                        notification.classList.add("fas", "fa-times-circle", "text-danger");
                        registerBtn.setAttribute('disabled', true);
                    }
                }
                function ValidateFname(fname) {
                    let nameEl = document.getElementById('surname');
                    let notification = document.getElementById('fname-notif');
                    if (/^([a-zA-Z]){3,}|([a-zA-Z_]){3,}$/.test(fname)) {
                        nameEl.style.borderBottomColor = "green";
                        notification.classList.remove("fas", "fa-times-circle", "text-danger");
                        notification.classList.add("fas", "fa-check-circle", "text-success");
                        registerBtn.removeAttribute('disabled');
                    } else {
                        nameEl.style.borderBottomColor = "red";
                        notification.classList.add("fas", "fa-times-circle", "text-danger");
                        registerBtn.setAttribute('disabled', true)
                    }
                }
                
                        function ValidateLname(lname) {
                            let nameEl = document.getElementById('givenname');
                            let notification = document.getElementById('lname-notif');
                            if (/^([a-zA-Z]){3,}|([a-zA-Z_][a-zA-Z]){3,}$/.test(lname)) {
                                nameEl.style.borderBottomColor = "green";
                                notification.classList.remove("fas", "fa-times-circle", "text-danger");
                                notification.classList.add("fas", "fa-check-circle", "text-success");
                                registerBtn.removeAttribute('disabled');
                            } else {
                                nameEl.style.borderBottomColor = "red";
                                notification.classList.add("fas", "fa-times-circle", "text-danger");
                                registerBtn.setAttribute('disabled', true)
                            }
                
                        }
                
                        function ValidatePhoneNumber(phone) {
                            let nameEl = document.getElementById('phone');
                            let notification = document.getElementById('phone-notif');
                            if (/^([77]|[78]|[75]|[70]|[79]|[3]|[71][4]{1})(\d{8})$/.test(phone)) {
                                nameEl.style.borderBottomColor = "green";
                                notification.classList.remove("fas", "fa-times-circle", "text-danger");
                                notification.classList.add("fas", "fa-check-circle", "text-success");
                                registerBtn.removeAttribute('disabled')
                            } else {
                                nameEl.style.borderBottomColor = "2px solid red";
                                notification.classList.add("fas", "fa-times-circle", "text-danger");
                                registerBtn.setAttribute('disabled', true)
                            }
                        }
                
                    function ValidateNIN(nin) {
                        let nameEl = document.getElementById('nin');
                        let notification = document.getElementById('nin-notif');
                        if (/^(([C])([M])([0-9A-Z]){12})$/.test(nin)) {
                            nameEl.style.borderBottomColor = "green";
                            notification.classList.remove("fas", "fa-times-circle", "text-danger");
                            notification.classList.add("fas", "fa-check-circle", "text-success");
                            registerBtn.removeAttribute('disabled');
                            return (true)
                        } else {
                            nameEl.style.borderBottomColor = "red";
                            notification.classList.add("fas", "fa-times-circle", "text-danger");
                            registerBtn.setAttribute('disabled', true)
                        }
                    }
                </script>
            </div>
        </div>

<script src="{% static 'assets/cvmsjs/data-visualization.js' %}"></script>

{% endblock %}