<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" type="icon/x-image" href="{% static 'assets/images/icons/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <script src="{% static 'assets/bootstrap/js/jquery-3.5.1.min.js' %}"></script>      
    <style type="text/css">
            #v-card{
            background-image: url("{% static 'assets/images/republic-of-uganda.jpg' %}");
            background-repeat: round;
            backface-visibility: visible;
            background-size: 20px;
        }
        .bio > small {
            font-weight: bold!important;
            font-size: 15px;
            color: yellowgreen;
        }
        .v-card-container:hover{
            cursor: pointer;
        }
        </style>

</head>
<body>
        <div class="container mt-3 card-error" data-citizen="{{ citizen_len }}">
        <div class="container v-card-container " onclick="window.print()">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="card card-body shadow text-dark" id="v-card">
                                <div class="mb-3 font-weight-bolder" style="background-color: white;">
                                    <div class="row justify-content-start ml-1">
                                        <h5>SN: {{ citizen.card_sn }}</h5>
                                    </div>
                                    <div class="row justify-content-center font-weight-bold">
                                        <div class="mb-3 text-center">
                                            <img src="{% static 'assets/images/republic-of-uganda.jpg' %}" width="30%" height="100" alt="republic of uganda"
                                             class="rounded"/>
                                            <h3 class="font-weight-bold text-secondary">GOVERNMENT OF UGANDA</h5>
                                            <h4 class="ml-3 font-weight-bold text-secondary">MINISTRY OF HEALTH</h4>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-bold text-center text-secondary">{{ citizen.card_epi }}: COVID 19 VACCINATION CARD</h4>
                                    <div class="row ml-1">
                                        <div class="col-lg-5 mt-2">
                                            <div class="mt-1 bio">
                                                <small>NIN:</small>
                                                <span class="font-weight-bold"><u>{{ citizen.nin}}</u></span> <br/><br/>
                                                <small>NAME: </small>
                                                <span class="font-weight-bold"><u>{{ citizen.sur_name }} {{ citizen.given_name }}</u></span><br/><br/>
                                                <small>NATIONALITY: </small>
                                                <span class="font-weight-bold"><u>{{ citizen.nationality}}</u></span><br/><br/>
                                                <small>AGE: </small>
                                                <span id="dob" data-dob="{{ citizen.year}}"><u id="age"></u></span> &nbsp;&nbsp;
                                                <small>SEX:</small>
                                                <span class="font-weight-bold"><u>{{ citizen.sex}}</u></span> <br/><br/> 
                                                <small>DISTRICT: </small> 
                                                <span class="font-weight-bold"><u>{{ citizen.district}}</u></span> &nbsp;&nbsp;
                                                <small>SUB COUNTY: </small>
                                                <span class="font-weight-bold"><u>{{ citizen.sub_county}}</u></span> <br/><br/>
                                                <small>PARISH: </small> 
                                                <span class="font-weight-bold"><u>{{ citizen.parish}}</u></span> &nbsp;&nbsp;
                                                <small>VILLAGE: </small>
                                                <span class="font-weight-bold"><u>{{ citizen.village}}</u></span> <br/><br/> 
                                                <small>TELEPHONE: </small>
                                                <span class="font-weight-bold"><u>+{{ citizen.phone}}</u></span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="col-lg-7 mt-2">
                                            <table class="table table-light table-bordered shadow">
                                                <thead>
                                                    <tr>
                                                        <th>Dose</th>
                                                        <th>Date Given</th>
                                                        <th>Vaccine Name</th>
                                                        <th>Vaccination Center</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if citizen.dozes == 1 %}
                                                        <tr>
                                                            <td>1 <sup>st</sup> & last Dose</td>
                                                            <td>{{ citizen.taken_at }}</td>
                                                            <td>{{ citizen.vaccine_name }}</td>
                                                            <td>{{ citizen.vaccination_center }}</td>
                                                        </tr>

                                                    {% else %}
                                                        <tr>
                                                            <td>1 <sup>st</sup> Dose</td>
                                                            <td>{{ citizen.taken_at }}</td>
                                                            <td>{{ citizen.vaccine_name }}</td>
                                                            <td>{{ citizen.vaccination_center }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2 <sup>st</sup> Dose</td>
                                                            <td>{{ citizen.next_doze_on }}</td>
                                                            <td>{{ citizen.vaccine_name }}</td>
                                                            <td>{{ citizen.vaccination_center }}</td>
                                                        </tr>

                                                    {% endif %}
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-end">
                                                <h5><b>Signature: </b><small><u><i class="text-secondary">janeruthachenge</i></u></small></h5>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <p><span><b>Minister of Heath</b></span></p>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <p id="dd"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(()=> {
        $(".se-pre-con").fadeOut("slow");
        window.onload = () => 
        {
            if(Number($(".card-error").data('citizen')) === 0)
            {
                $(".card-error").removeClass('d-none');
                return;
            }
            $(".v-card-container").removeClass('d-none');
            let dob = $("#dob").data('dob');
            let dd = new Date();
            $("#age").html(dd.getFullYear() - Number(dob));
            $("#dd").html(dd.toDateString())
            setTimeout(() => {
                $(".print-notification").removeClass('d-none');
                setTimeout(() => {
                    $(".print-notification").animate({
                        'margin-left' : "50%",
                        'opacity' : '0',
                    },10000);
                }, 3000);
            }, 3000);
        }
    });
</script>
<script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>