{% extends '../base.html' %}

{% block content %}
{% load static %}
        <div class="row mt-5 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <h4 class="font-weight-bold text-center">REPUBLIC OF UGANDA</h4>

                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-body shadow card-striped text-dark">
                                <div class="row justify-content-between ml-3 font-weight-bold">
                                    <img src="{% static 'assets/images/flag-map_of_uganda.png'%}" class="img-responsive rounderd" alt="Fag Map of Uganda" width="100" height="70"/>
                                    <span>REPUBLIC OF UGANDA NATIONAL ID CARD</span>
                                </div>
                                <div class="d-flex mt-1">
                                    <img src="{% static 'assets/images/photo-place-holder1.jpg'%}" class="img-responsive rounderd" alt="{{citizen.sur_name}}" width="100" height="100"/>
                                    <div class="row ml-5">
                                        <div class="clear-flex">
                                            <small>SURNAME</small>
                                            <p class="font-weight-bold">{{ citizen.sur_name}}</p>
                                            <small>GIVEN NAME</small>
                                            <p class="font-weight-bold">{{ citizen.given_name}}</p>
                                            <div class="row justify-content-between">
                                                <div>
                                                    <small>NATIONALITY</small>
                                                    <p class="font-weight-bold">{{ citizen.nationality}}</p>
                                                </div>

                                                <div>
                                                    <small>SEX</small>
                                                    <p class="font-weight-bold">{{ citizen.sex}}</p>
                                                </div>

                                                <div>
                                                    <small>DATE OF BIRTH </small>
                                                    <p class="font-weight-bold">{{ citizen.dob}}</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-xl-8">
                                                    <small>NIN</small>
                                                    <p class="font-weight-bold">{{ citizen.nin}}</p>
                                                </div>

                                                <div class="col-lg-6 col-xl-4">
                                                    <small>CARD NO</small>
                                                    <span class="font-weight-bold">{{ citizen.card_no}}</span>
                                                </div>
                                            </div>
                                            <small>DATE OF EXPIRY </small>
                                            <p><span class="font-weight-bold">{{ citizen.expiry_date}}</span></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-body shadow">
                                <h4>GIVE <span class="text-success">{{citizen.sur_name}} {{citizen.given_name}}</span> {% if citizen.sex == 'M' %} his {% else %} her {% endif%} second doze </h4>
                                <br/>
                                <form action="" method="POST" id="secondDozeForm">
                                    <div class="form-group">
                                        <label for="center">Vaccine Given</label>
                                        <input type="text" id="centers" value="{{citizen.vaccine_name}}" class="form-control" name="center" readonly/>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12 col-lg-12 col-xl-12">
                                            <label for="next_doze_date">Next Doze to be received on ({{next}})</label>
                                            <input type="date" id="next_doze_date" name="next_doze_date" class="form-control" value="{{next_dd}}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="center">Vaccination Center</label>
                                        <input type="text" id="centers" value="{{citizen.vaccination_center}}" class="form-control" name="center" readonly/>
                                    </div>
                                    <em class="text-info">
                                        {{citizen.sur_name}} must have received the first doze before getting the second one.
                                    </em>
                                    <div class="form-group">
                                        <div class="row justify-content-between">
                                            {% csrf_token %}
                                            <input type="hidden" name="citizen_nin_id" value="{{citizen.nin}}"/>
                                            <input type="hidden" name="register_second_doze" value="1"/>
                                            <button type="submit" class="btn btn-success" id="second-doze-btn">Give Second Doze <i class="fas fa-check-circle"></i></button>
                                            <a href="{% url 'covidvms:view-second-doze'%}" class="btn btn-warning">Cancel</a>
                                        </div>
                                    </div>
                                    <div class="second-doze-response"></div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
<script>
    var today = new Date();let next_date = today.getDate() + "/" + today.getMonth() + "/" + today.getFullYear();let next_doze_date = document.getElementById('next_doze_date');if (next_date !== next_doze_date.value){let btn = document.getElementById('second-doze-btn');btn.setAttribute('disabled', true);btn.setAttribute('title', 'You can not give this person a second dose because it is not yet the right time to receive it!');btn.innerHTML = "Give Second Dose <i class='fas fa-times-circle'></i>";btn.classList.remove('btn-success');btn.classList.add('btn-danger');}
    $(document).ready(()=> {
        $("#secondDozeForm").on('submit', function(event){
            event.preventDefault();
                $.ajax({
                    url: $(this).attr('action'),
                    type: "POST",
                    data: $(this).serializeArray(),
                    beforeSend: () => {
                        $("#second-doze-btn").html("<span class='spinner-border spinner-border-sm text-light'></span> processing...");
                        $("#second-doze-btn").attr('disabled', true);
                    },
                    success: (res) => {
                        $(".second-doze-response").html(res);
                    },
                    complete: () => {
                        $("#second-doze-btn").removeAttr('disabled');
                        $("#second-doze-btn").html("Second Doze Given <i class='fas fa-check-circle'></i>");
                        $(".second-doze-response").fadeOut(7000);
                        setTimeout(() => {
                            history.back();
                        }, 7000);
                    }
                })
        });
    });
</script>

{% endblock %}