{% extends '../base.html' %}

{% block content %}
{% load static %}
        <div class="row mt-5 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <h4 class="font-weight-bold text-center">REPUBLIC OF UGANDA</h4>

                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-body shadow card-striped text-dark">
                                <div class="row justify-content-between ml-3 font-weight-bold">
                                    <img src="{% static 'assets/images/flag-map_of_uganda.png'%}" class="img-responsive rounderd" alt="Fag Map of Uganda" width="100" height="70"/>
                                    <span>REPUBLIC OF UGANDA NATIONAL ID CARD</span>
                                </div>
                                <div class="d-flex mt-1">
                                    <img src="{% static 'assets/images/photo-place-holder1.jpg'%}" class="img-responsive rounderd" alt="{{citizen.sur_name}}" width="100" height="100"/>
                                    <div class="row ml-5">
                                        <div class="clear-flex">
                                            <small>SURNAME</small>
                                            <p class="font-weight-bold">{{ citizen.sur_name}}</p>
                                            <small>GIVEN NAME</small>
                                            <p class="font-weight-bold">{{ citizen.given_name}}</p>
                                            <div class="row justify-content-between">
                                                <div>
                                                    <small>NATIONALITY</small>
                                                    <p class="font-weight-bold">{{ citizen.nationality}}</p>
                                                </div>

                                                <div>
                                                    <small>SEX</small>
                                                    <p class="font-weight-bold">{{ citizen.sex}}</p>
                                                </div>

                                                <div>
                                                    <small>DATE OF BIRTH </small>
                                                    <p class="font-weight-bold">{{ citizen.dob}}</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-xl-8">
                                                    <small>NIN</small>
                                                    <p class="font-weight-bold">{{ citizen.nin}}</p>
                                                </div>

                                                <div class="col-lg-6 col-xl-4">
                                                    <small>CARD NO</small>
                                                    <span class="font-weight-bold">
                                                        {% if citizen.card_no == 0 %}
                                                            N/A
                                                        {% else %}
                                                            {{ citizen.card_no}}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                            <small>DATE OF EXPIRY </small>
                                            <p><span class="font-weight-bold">{{ citizen.expiry_date}}</span></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="card card-body shadow">
                                <h4>GIVE <span class="text-success">{{citizen.sur_name}} {{citizen.given_name}}</span> {% if citizen.sex == 'M' %} his {% else %} her {% endif%} first doze </h4>
                                <br/>
                                <form action="{% url 'covidvms:save_first_doze'%}" method="POST" id="firstDozeForm">
                                    <div class="form-group">
                                        <label for="vaccine_name">Vaccine Name</label>
                                        <select class="custom-select" name="vaccine" id="vaccine">
                                            <option value="">--- select vaccine --- </option>
                                            {% for vaccine in vaccines %}
                                                <option value="{{vaccine.vaccine_id}}">{{vaccine.name}} ( {{vaccine.dozes}} shots)</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <label for="taken_date">Take On ({{current_date}})</label>
                                                <input type="date" name="taken_date" class="form-control" value="{{date}}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-6">
                                            <label for="next_doze_date">Next Doze({{next}})</label>
                                            <input type="date" name="next_doze_date" class="form-control" value="{{next_dd}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="center">Vaccination Center </label>
                                        <input type="text" id="centers" placeholder="-- select center, or type center name --" class="form-control" list="center_list" name="center" required/>
                                        <datalist id="center_list">
                                            {% for center in centers %}
                                                <option value="{{center.center_name}}">{{center.center_name}}</option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                    <em class="text-info">
                                        The Citizen should only be registed for the first doze after having given 
                                        consent and received the vaccine.
                                    </em>
                                    <div class="form-group">
                                        <div class="row justify-content-between">
                                            {% csrf_token %}
                                            <input type="hidden" name="citizen_nin_id" value="{{citizen.nin}}"/>
                                            <input type="hidden" name="dist_id" value="{{ citizen.district_id}}"/>
                                            <input type="hidden" name="email" value="{{ citizen.email}}"/>
                                            <input type="hidden" name="register_first_doze" value="1"/>
                                            <button type="submit" class="btn btn-success" id="first-doze-btn">Give First Doze <i class="fas fa-check-circle"></i></button>
                                            <a href="{% url 'covidvms:view_first_doze'%}" class="btn btn-warning">Cancel</a>
                                        </div>
                                    </div>
                                    <div class="first-doze-response"></div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
<script>
    $(document).ready(()=> {
        $("#firstDozeForm").on('submit', function(event){
            event.preventDefault();
            if ($("#vaccine").val() !== "" && $("#centers") !== "")
            {
                $.ajax({
                    url: $(this).attr('action'),
                    type: "POST",
                    data: $(this).serializeArray(),
                    beforeSend: () => {
                        $("#first-doze-btn").html("<span class='spinner-border spinner-border-sm text-light'></span> processing...");
                        $("#first-doze-btn").attr('disabled', true);
                    },
                    success: (res) => {
                        $(".first-doze-response").html(res);
                    },
                    complete: () => {
                        $("#first-doze-btn").removeAttr('disabled');
                        $("#first-doze-btn").html("First Doze Given <i class='fas fa-check-circle'></i>");
                        $(".first-doze-response").fadeOut(7000);
                        setTimeout(() => {
                            history.back();
                        }, 7000);
                    }
                })
            }
        });
    });
</script>

{% endblock %}