{% extends '../base.html'%}

{% block content %}

{% load static %}
        <div class="row mt-5">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <h4 class="font-weight-bold text-center">REPUBLIC OF UGANDA</h4>
                <div class="table-responsive">
                    <table class="table table-light table-striped" id="citizens">
                        <thead>
                            <th>NIN</th>
                            <th>SURNAME</th>
                            <th>GIVEN NAME</th>
                            <th>NATIONALITY</th>
                            <th>SEX</th>
                            <th>DATE OF BIRTH</th>
                            <th>ACTION</th>
                        </thead>

                        <tbody>
                            {% for citizen in citizens %}
                                <tr>
                                    <td>{{ citizen.0 }}</td>
                                    <td>{{ citizen.1 }}</td>
                                    <td>{{ citizen.2 }}</td>
                                    <td>{{ citizen.3 }}</td>
                                    <td>{{ citizen.4 }}</td>
                                    <td>{{ citizen.5 }}</td>
                                    <td>
                                        <a href="{% url 'covidvms:register-second-doze' citizen.0 %}" class="btn btn-success btn-sm" data-toggle="tooltip" title="register for second doze">
                                            <i class="fas fa-registered"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<script>
    $(document).ready(()=> {
        $("#citizens").DataTable();
    })
</script>

{% endblock %}