{% extends '../base.html'%}

{% block content %}

{% load static %}
        <div class="row mt-5">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <h4 class="font-weight-bold text-center">REPUBLIC OF UGANDA</h4>
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="citizens">
                        <thead>
                            <th>NIN</th>
                            <th>SURNAME</th>
                            <th>GIVEN NAME</th>
                            <th>NATIONALITY</th>
                            <th>SEX</th>
                            <th>DOB</th>
                            <th>DISTRICT</th>
                        </thead>

                        <tbody>
                            {% for citizen in citizens %}
                                <tr>
                                    <td><a href="{% url 'covidvms:view_citizen_by_id' citizen.0 %}">{{ citizen.0 }}</a></td>
                                    <td>{{ citizen.1 }}</td>
                                    <td>{{ citizen.2 }}</td>
                                    <td>{{ citizen.3 }}</td>
                                    <td>{{ citizen.4 }}</td>
                                    <td>{{ citizen.5 }}</td>
                                    <td>{{ citizen.6 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}