<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" type="icon/x-image" href="{% static 'assets/images/icons/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/cvmscss/cvms.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <style type="text/css">
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url("{% static 'assets/images/Preloader_2.gif' %}") center no-repeat #fff;}
        .form-control-custom{font-size: 18px!important;}
    </style>
    <script src="{% static 'assets/bootstrap/js/jquery-3.5.1.min.js' %}"></script>
</head>
<body>
<div class="se-pre-con"></div>

{% block content %}

{% endblock %}

<script>
    $(window).on('load', function() {
	    $(".se-pre-con").fadeOut("slow");
    });
</script>
<script src="{% static 'assets/cvmsjs/cvms.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>