{% load static %}
<script>
    $(window).on('load', function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");
		if (document.getElementById('time')) {
		    let timeEl = document.getElementById('time')
           setInterval(()=> {
               let t = new Date()
               timeEl.innerHTML = t.toLocaleTimeString();
           }, 1000)
        }
	});
    $(document).ready(()=> {
    })
</script>
<script src="{% static "assets/cvmsjs/cvms.js" %}"></script>
<script src="{% static "assets/bootstrap/js/popper.min.js" %}"></script>
<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>