{% load static %}
{% include 'covidvms/header.html' %}
<style type="text/css">
            body{
            background-image: url("{% static 'assets/images/file-20200324-155695-1kaxgif.jpg' %}");
            background-repeat: repeat-x;
        }
</style>
<main class="container">
    <br/>
<div class="row justify-content-center mt-5">
    <div class="col-md-12 col-lg-8 col-xl-8">
        <div class="card card-body shadow">
            <br/>
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <h4 class="font-weight-bold">LOGIN</h4>
                    <br/>
                    <form action="{% url 'covidvms:login' %}" method="post" id="loginForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" name="email" class="form-control-custom" placeholder="user email address or full name" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <div class="input-group">
                                <i class="fas fa-lock text-primary"></i> &nbsp;&nbsp;
                                <a href="javascript:void(0)" class="text-primary" id="show-password"><i class="fas fa-eye text-primary"></i></a>
                                <a href="javascript:void(0)" class="text-primary d-none" id="hide-password"><i class="fas fa-eye-slash text-primary"></i></a>
                            </div>
                            <input type="password" name="password" id="password" placeholder="password" class="form-control-custom" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="login" class="sr-only">Login</label>
                            <input type="hidden" name="login" value="1"/>
                            <button type="submit" class="btn btn-success w-100 login-btn">PROCEED</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="card card-body border-0">
                        <div class="row justify-content-center">
                                <img src="{% static 'assets/images/republic-of-uganda.jpg' %}" class="rounded" width="50%" height="150"/>
                        </div> <br/>
                        <div class="row justify-content-center">
                            <h1 class="font-weight-bold text-success">CVMS <i class="fas fa-check-circle"></i> </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="response"></div>
            <br/>

        </div>
    </div>
</div>
</main>
{% include 'covidvms/footer.html' %}
</body>
</html>