{% extends 'covidvms/base-index.html' %}
{% load static %}
{% block content %}


<script>
    jQuery(()=> {
        $("#v-card-btn").on('click', ()=> {
            let nin = $("#nin_number").val();
            if(nin.length < 10 )
            {
                alert("Invalid Identification Number"); return;
            }
            let url = "health/citizen/vaccination/card/"+ nin;
            window.open(url, '_blank', 'popup');
        });
    });
</script>
<main class="container">
<br/>
<div class="row justify-content-center mt-5">
<div class="col-md-12 col-lg-12 col-xl-12">
<div class="card card-body shadow">
    <img src="{% static 'assets/images/logo-MOH.png' %}" class="card-img-top"/>
    <div class="row mt-3">
        <div class="col-lg-4 text-center">
            <h4><b>VACCINATION CARD?</b></h4>
            <label for="nin_number" class="w-100">
                Enter your <span class="text-success">NIN Number</span> or 
                <span class="text-info">Other ID</span>
                <input type="text" class="form-control" id="nin_number"/>
            </label>
            <button type="button" class="btn btn-success" id="v-card-btn">Get My Vaccination Card</button>
            <h4 class="mt-3"><b>FeedBack on Vaccination?</b></h4>
            <a href="{% url 'covidvms:show_feedback' %}" class="btn btn-info">Give FeedBack</a>
            <h4 class="mt-3"><b>SELF REGISTRATION?</b></h4>
            <a href="{% url 'covidvms:show_citizen_registration_form' %}" class="btn btn-info">REGISTER ME</a>
        </div>
        <div class="col-md-12 col-lg-4 col-xl-4">
            <h4 class="font-weight-bold">LOGIN</h4>
            <form action="{% url 'covidvms:login' %}" method="post" id="loginForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="text" name="email" class="form-control-custom" placeholder="user email address or full name" autocomplete="off" required/>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <div class="input-group">
                        <i class="fas fa-lock text-primary"></i> &nbsp;&nbsp;
                        <a href="javascript:void(0)" class="text-primary" id="show-password"><i class="fas fa-eye text-primary"></i></a>
                        <a href="javascript:void(0)" class="text-primary d-none" id="hide-password"><i class="fas fa-eye-slash text-primary"></i></a>
                    </div>
                    <input type="password" name="password" id="password" placeholder="password" class="form-control-custom" autocomplete="off" required/>
                </div>
                <div class="form-group">
                    <label for="login" class="sr-only">Login</label>
                    <input type="hidden" name="login" value="1"/>
                    <button type="submit" class="btn btn-success w-100 login-btn">PROCEED</button>
                    <div class="text-truncate"><a href="" class="text small"> Forgot password!</a></div>
                </div>
            </form>
            <div class="response"></div>
        </div>
        <div class="col-md-12 col-lg-4 col-xl-4">
            <div class="card card-body border-0">
                <div class="row justify-content-center">
                    <img src="{% static 'assets/images/Covid-19 (1).jpg' %}" class="rounded-circle" width="60%" height="200"/>
                </div>
                <div class="row justify-content-center">
                    <h1 class="font-weight-bold text-success">CVMS <i class="fas fa-check-circle"></i> </h1>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</main>

{% endblock %}