{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
        CVMS
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="container ">
            <span><a href="#" class="nav-item nav-link active badge badge-success">Home</a></span>
            <span><a href="#" class="nav-item nav-link badge badge-primary ">Profile</a></span>
            <span><a href="#" class="nav-item nav-link badge badge-primary ">Messages</a></span>
            <span><a href="#" class="nav-item nav-link disabled badge badge-primary " tabindex="-1">Reports</a></span>
        </div>
        <div class="navbar navbar-expand-sm bg-light justify-content-end">
             <a href="javascript:void(0)" class="container text-white badge badge-success" id="time"></a>
            &nbsp;&nbsp;
                <a href="javascript:void(0)" class="container text-white badge badge-success ">Hi, {{user_name}}</a>
            &nbsp;&nbsp;
                <a href='{% url "covidvms:logout" logout="logout" %}' class="nav-link" onclick="return confirm('Logout?')" data-toggle="tooltip" title="Logout?"><i class="fas fa-sign-out-alt text-danger"></i> </a>
        </div>
    </div>
</nav>
<nav class="side-nav bg-light" id="side-nav">
    <div class="sidebar-content">
        <h4> <i class="fas fa-tachometer-alt text-primary"></i> Dashboard</h4>
    </div>
</nav>