{% load static %}
    <div class="container-fluid bg-warning">
            <img src="{% static 'assets/images/logo-MOH-green.png' %}" class="container-fluid" height="100px">
            <p class="text-center"><b> Email: info@health.go.ug | Website: www.health.go.ug/</b></p>
    </div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
    <b>CVMS</b>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active"><i class="fas fa-home"></i></a>
            <a href="#" class="nav-item nav-link">Profile</a>
            <a href="#" class="nav-item nav-link">Messages <span class="badge badge-primary">0</span></a>
            <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
        </div>
        <div class="navbar-nav ml-auto">
             <a href="javascript:void(0)" class="nav-item nav-link" id="time"></a>
                <a href="javascript:void(0)" class="nav-item nav-link text-warning">Hi, {{user_name}}</a>
                <a href="javascript:void(0)" class="nav-item nav-link text-primary" onclick="window.location.reload()"><i class="fas fa-sync"></i> Sync</a>
                <a href='{% url "covidvms:logout" logout="logout" %}' class="nav-link" onclick="return confirm('Logout?')" data-toggle="tooltip" title="Logout?"style="font-size: 2ex "><i class="fas fa-sign-out-alt text-danger"></i> </a>
        </div>
    </div>
</nav>
<nav class="side-nav bg-light" id="sideNav">
    <div class="sidebar-content">
        <h4> <i class="fas fa-tachometer-alt text-primary"></i> Dashboard
        </h4>
    </div>
</nav>
<nav class="toggle-side-nav bg-light" id="toggle-side-nav">
    <h4>
        <a href="javascript:void(0)" id="close-side-nav" onclick="closeSideNav()"><i class="fas fa-angle-double-left"></i></a>
        <a href="javscript:void(0)" id="open-side-nav" onclick="openSideNav()"><i class="fas fa-angle-double-right"></i></a>
    </h4>
</nav>