{% load static %}
    <div class="navbar navbar-expand-md navbar-dark bg-nvb sticky-top h-5" id="navbar">
            <!--<img src="{% static 'assets/images/logo-MOH-green.png' %}" class="container-fluid" height="100px"> -->
            <a href="#" class="navbar-brand">CVMS</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="javascript:void(0)" class="nav-item nav-link"><b>Health/Dashboard  / {{page}}  |</b></a>
                    <a href="javascript:void(0)" class="nav-item nav-link"><b><i class="fas fa-envelope text-light"></i> Email: info@health.go.ug | <i class="fas fa-globe-africa text-light"></i> Website: www.health.go.ug/ |</b></a>
                    <a href="javascript:void(0)" class="nav-item nav-link" id="time"></a>
                    <a href="javascript:void(0)" class="nav-item nav-link">| <i class="fas fa-cog text-light"></i> Settings |</a>
                    <a href="javascript:void(0)" class="nav-item nav-link" onclick="window.location.reload()"><i class="fas fa-sync text-light"></i> Sync |</a>
                    <a href='{% url "covidvms:logout" logout="logout" %}' class="nav-link" onclick="return confirm('Logout?')" data-toggle="tooltip" title="Logout?"style="font-size: 2ex "><i class="fas fa-power-off text-light"></i> </a>
                </div>
            </div>
    </div>
<nav class="side-nav bg-nvb" id="sideNav">
    <h4> <i class="fas fa-tachometer-alt text-primary"></i> <a href="{% url 'covidvms:health' %}">Dashboard</a> </h4>
    <hr class="hr" />
    <div class="sidebar-content ml-2">
        <a href="javascript:void(0)" id="citizen-open"><i class="fas fa-user-circle"></i> Citezen &nbsp;<i class="fas fa-angle-down" id="citizen-down"></i> </a>
        <ul id="citizen-list">
            <li><a href="{% url 'covidvms:add-citizen' %}"><i class="fas fa-plus-circle"></i> Add Citizen</a></li>
            <li><a href="{% url 'covidvms:view-citizens' %}"><i class="fas fa-eye"></i> View Citizen</a></li>
        </ul> <br/><hr class="hr" />
        <a href="javascript:void(0)" id="vaccination-open"><i class="fas fa-check-circle"></i> Vaccination &nbsp;<i class="fas fa-angle-down" id="vaccination-down"></i> </a>
        <ul id="vaccination-list">
            <li><a href=""><i class="fas fa-compact-disc"></i> Vaccinated Citizen</a></li>
            <li><a href="{% url 'covidvms:view-first-doze' %}"><i class="fas fa-plus-circle"></i> Register 1<sup>st</sup> doze</a></li>
            <li><a href=""><i class="fas fa-plus-circle"></i> Register 2<sup>nd</sup> doze</a></li>
            <li><a href=""><i class="fas fa-plus-broom"></i> Clearencese</a></li>
        </ul><br/><hr class="hr" />
        <a href="javascript:void(0)" id="feedback-open"><i class="fas fa-comment-dots"></i> FeedBack &nbsp;<i class="fas fa-angle-down" id="feedback-down"></i> </a>
        <ul id="feedback-list">
            <li><a href=""><i class="fas fa-eye"></i> View FeedBack</a></li>
            <li><a href=""><i class="fas fa-forward"></i> Forward FeedBack</a></li>
        </ul><br/><hr class="hr" />
        <a href="javascript:void(0)" id="settings-open"><i class="fas fa-cog"></i> Settings &nbsp;<i class="fas fa-angle-down" id="settings-down"></i> </a>
        <ul id="settings-list">
            <li><a href=""><i class="fas fa-user-lock"></i> My Account</a></li>
            <li><a href=""><i class="fas fa-user-shield"></i> Two Factor Authentication</a></li>
            <li><a href=""><i class="fas fa-key"></i> Change Password</a></li>
            <li><a href='{% url "covidvms:logout" logout="logout" %}'><i class="fas fa-power-off"></i> Logout?</a></li>
        </ul>
    </div>

    <div class="fixed-bottom">

        <div class="ml-5">
            <img src="{% static 'assets/images/republic-of-uganda.jpg' %}" class="rounded-circle" width="50" height="50"/>
        </div>
        <p class="ml-4">{{user_name}} </p>
    </div>
</nav>
<nav class="toggle-side-nav bg-nvb" id="toggle-side-nav">
    <h4>
        <a href="javascript:void(0)" id="close-side-nav" onclick="closeSideNav()"><i class="fas fa-angle-double-left"></i></a>
        <a href="javscript:void(0)" id="open-side-nav" onclick="openSideNav()"><i class="fas fa-angle-double-right"></i></a>
    </h4>
    <hr class="hr"/>
</nav>