# Default ignored files
/shelf/
/workspace.xml
/.env
../pyvenv.cfg
# Datasource local storage ignored files
/../../../../:\python64\cvms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
