{#{% extends 'covidvms/base.html' %}#}
{% extends 'covidvms/admin/admin-base.html' %}

{% block content %}

{% load static %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><STRONG style="color: #003366"> Admin Dashboard</STRONG></h1>
          </div><!-- /.col -->
<!--          <div class="col-sm-6">-->
<!--            <ol class="breadcrumb float-sm-right">-->
<!--              <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--              <li class="breadcrumb-item active">Starter Page</li>-->
<!--            </ol>-->
<!--          </div>&lt;!&ndash; /.col &ndash;&gt;-->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card card-success card-outline">
              <div class="card-header"><h5 class="card-text text-center "><strong style="color: #003366"> Number of Vaccinated citizen</strong></h5></div>
              <div class="card-body">
                <div class="row justify-content-between">
                  <h2 class="card-text text-center text-warning v-w" style="color: #23923d">
                    456
                  </h2>
                  <h2 class="card-text text-center v-s" style="color: #23923d">
                    500
                  </h2>
                </div>
                <div class="row justify-content-between">
                  <a href="" class="btn btn-outline-warning btn-sm">Partial Vaccination</a>
                  <a href="" class="btn btn-outline-success btn-sm">Full Vaccination</a>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="card card-success  card-outline">
                <div class="card-header"> <h3 class="card-title"><strong style="color: #003366"> Create New Staff User</strong></h3></div>
              <div class="card-body">

                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>
                  <p><a href="{% url 'covidvms:staff_user' %}" class="card-link btn  btn-primary">Create Account</a></p>
{#                <a href="#" class="card-link">Another link</a>#}
              </div>
            </div><!-- /.card -->
          </div>
        </div>
        <div class="row">
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card card card-success card-outline ">
              <div class="card-header">
                <h5 class="m-0"><strong style="color: #003366">Bar Graph</strong></h5>
              </div>
              <div class="card-body">
               <h5 class="card-title"> <strong>Detailed representation:</strong></h5>

                <p class="card-text">With support from hospital analysis and input of data from various districts with vaccination centers.</p>
                <p style="color: white"><a href="{% url 'covidvms:show_bar' %}" class="btn  btn-primary btn-sm">Bar Graph Overview</a></p>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-success card-outline">
                <div class="card-header">
                  <h5 class="m-0">About Us</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title"></h6>

                  <p class="card-text">The system is designed to store citizens records </p>
                  <a href="#" class="btn btn-primary btn-sm">Citizens record</a>
                </div>




              </div>
          </div>


          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>






  $(document).ready(()=> {
    let vs = 0;
    let vw = 0;
    VW = setInterval(() => {
      vw++;
      $(".v-w").html(vw);
      if (vw === 456){
        clearInterval(VW);
      }
    }, 5);
    VS = setInterval(() => {
      vs++;
      $(".v-s").html(vs);
      if (vs === 600){
        clearInterval(VS);
      }
    }, 5);
  })
</script>
  {% endblock %}