{% extends 'covidvms/admin/admin-base.html' %}

{% block content %}

{% load static %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><STRONG style="color: #003366"> Admin Dashboard</STRONG></h1>
          </div><!-- /.col -->
<!--          <div class="col-sm-6">-->
<!--            <ol class="breadcrumb float-sm-right">-->
<!--              <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--              <li class="breadcrumb-item active">Starter Page</li>-->
<!--            </ol>-->
<!--          </div>&lt;!&ndash; /.col &ndash;&gt;-->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-xl-6">
              <div class="card card-body shadow">
                  <div class="row justify-content-between">
                      <h4><u>Bar Grap Showing the Population of Citizens Vaccinated With 1st Doze Per District</u></h4>
                      <div class="mb-3">
                          <p class="text-muted">
                              Showing <span id="p_min_val">30</span> <span id="p_of">of</span> <span id="p_max_val">
                                  {{ no_of_districts }}
                              </span>
                          </p>
                      </div>
                  </div>
                  <div class="partial_chart"></div>
                  <canvas id="partial_chart" data-url="{% url 'covidvms:vaccination_chart' %}"
                  data-min="1" data-max="30"></canvas>
              </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-6">
              <div class="card card-body shadow">
                  <div class="row justify-content-between">
                      <h4><u>Bar Grap Showing the Population of Citizens Fully Vaccinated Per District</u></h4>
                      <div class="mb-3">
                          <p class="text-muted">
                              Showing <span id="f_min_val">30</span> <span id="f_of">of</span>  <span id="f_max_val">
                                  {{ no_of_districts }}
                              </span>
                          </p>
                      </div>
                  </div>
                  <div class="partial_chart"></div>
                  <canvas id="fully_vaccinated_chart" data-url="{% url 'covidvms:fully_vaccinated_chart'%}"
                  data-min="1" data-max="30"></canvas>
              </div>
          </div>



      </div>

    <script src="{% static 'assets/cvmsjs/data-visualization.js' %}"></script>
        <div class="row">
          <div class="col-lg-6">
            <div class="card card card-success card-outline h-100">
              <div class="card-header"><h5 class="card-text text-center "><strong style="color: #003366"> Number of Vaccinated citizen</strong></h5></div>
              <div class="card-body">
                <div class="row justify-content-between">
                  <h2 class="card-text text-center text-warning v-w" style="color: #23923d">
                    456
                  </h2>
                  <h2 class="card-text text-center v-s" style="color: #23923d">
                    500
                  </h2>
                </div>
                <div class="row justify-content-between">
                  <a href="" class="btn btn-outline-warning btn-sm">Partial Vaccination</a>
                  <a href="" class="btn btn-outline-success btn-sm">Full Vaccination</a>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="card card-success card-outline h-100">
                <div class="card-header"> <h3 class="card-title"><strong style="color: #003366"> Create New Health Work's Account</strong></h3></div>
              <div class="card-body">

                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>
                  <p><a href="{% url 'covidvms:staff_user' %}" class="card-link btn  btn-primary">Create Account</a></p>
              </div>
            </div><!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>






  $(document).ready(()=> {
    let vs = 0;
    let vw = 0;
    VW = setInterval(() => {
      vw++;
      $(".v-w").html(vw);
      if (vw === 456){
        clearInterval(VW);
      }
    }, 5);
    VS = setInterval(() => {
      vs++;
      $(".v-s").html(vs);
      if (vs === 600){
        clearInterval(VS);
      }
    }, 5);
  })
</script>
  {% endblock %}