{% extends 'covidvms/admin/admin-base.html'%}

{% block content %}

{% load static %}
<section class="content-wrapper">
    <section class="content">
        <div class="container-fluid mt-3">
            <div class="row mt-3">
                {% for feedback in feedbacks %}

                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <h4>{{ feedback.feedback_type }}</h4>
                            </div>
                            <div class="card-body">
                                <p>{{ feedback.side_effects }}</p>
                            </div>

                            <div class="card-footer">
                                <p class="text-muted">
                                    Raised By: {{ feedback.email}}, {{ feedback.phone_number}}
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
</section>

{% endblock %}